[submodule "repo-community"]
	path = repo-community
	url = https://github.com/kiss-community/repo-community
[submodule "repo-main"]
	path = repo-main
	url = https://github.com/kiss-community/repo-main
